@import "tailwindcss";

@theme {
  --color-primary: #1890FF;
  --color-secondary: #F0F5FF;
  --color-accent: #722ED1;
  --color-success: #52C41A;
  --color-warning: #FAAD14;
  --color-error: #F5222D;
  
  --color-bg-main: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-border-subtle: #F0F0F0;
  
  --font-sans: "Inter", var(--font-geist-sans);
}

:root {
  --background: #F8FAFC;
  --foreground: #1F2937;
  --primary: #2563EB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #F8FAFC;
  }
}
