@import "tailwindcss";

@theme {
  --color-primary: #1890ff;
  --color-secondary: #f0f5ff;
  --color-accent: #722ed1;
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-error: #f5222d;

  --color-bg-main: #f8fafc;
  --color-surface: #ffffff;
  --color-border-subtle: #f0f0f0;

  --font-sans: "Inter", var(--font-geist-sans);
}

:root {
  --background: #f8fafc;
  --foreground: #1f2937;
  --primary: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}
